@model Vidly.ViewModels.MovieFormViewModel


@if (Model.Movie == null)
{
    <h1>Create a Movie </h1>
}
else
{
        <h1>Edit a Movie</h1>
}

<div class="w-50">

@using (Html.BeginForm("Save", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor( m => m.Movie.Name )
        @Html.TextBoxFor( m => m.Movie.Name, new { @class= "form-control" } )
    </div>
    <div class="form-group">
        @Html.LabelFor( m => m.Movie.ReleaseDate )
        @Html.TextBoxFor( m => m.Movie.ReleaseDate, new { @class= "form-control", type = "date"} )
        @if (Model.Movie!= null)
        {
            <p>Default value @Model.Movie.ReleaseDate.ToShortDateString()</p>
        }
    </div>
    <div class="form-group">
        @Html.LabelFor( m => m.Movie.DateAdded )
        @Html.TextBoxFor( m => m.Movie.DateAdded, new { @class= "form-control", type = "date" })
        @if (Model.Movie != null)
        {
            <p>Default value @Model.Movie.DateAdded.ToShortDateString()</p>
        }
    </div>
    <div class="form-group">
            @Html.LabelFor( m => m.Movie.Stock )
            @Html.TextBoxFor( m => m.Movie.Stock, new { @class= "form-control", type = "number" } )
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Movie.GenreID,"GenreID")
        @Html.DropDownListFor(
            m => m.Movie.GenreID,
            new SelectList(Model.Genres,
                "Id",
                "Name"),
            "Select Genre"
            , new { @class = "form-control"})

    </div>

    @Html.HiddenFor(m => m.Movie.Id)
    <button class="btn btn-primary" type="submit">Crear</button>
}
</div>
